/* Global classes */
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
/*	margin: 5px;
	height: 45px;
	width: 300px;
	background-color: white;*/
	width: 300px;
  	height: 40px;
  	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	color: white;
	/*border-bottom: solid;*/
}

.bottom-bar {
	position: relative;
	height: 45px;
	width: 298px;
	background-color: #e4d3f9;
	top: 37px;
	left: 1px;
	bottom: 4px;

}

.bottom-bar-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 280px;
    padding-left: 12px;
    padding-top: 12px;
}

h1 {
	text-align: center;
}

.my-account {
	text-align: center;
	color: white;
	font-size: 25;
	margin-top: 20px;
}

.dashboard-buttons {
	width: 200px;
	height: 65px;
	border-style: solid;
	border-width: 3px;
	border-color: #D9F2E0;
	background-color: #71e192;
	text-align: relative;
	margin-left: 50px;
	margin-top: 20px;
}

.dashboard-text {
	text-align: center;
	color: white;
	font-size: 28;
	margin-top: 10px;
	margin-bottom: 5px;

}

.menu-icons {
	width: 30px;
	height: 30px;
	padding-left: 133px;
	padding-top: 7px;

}

.back-button {
}

.albums-album-wrapper {
}

.albums-album-art {
}

.albums-album-name {
}

.albums-artist-name {
}
