/* Global classes */
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}


.head-bar {
  width: 300px;
  height: 45px;
  /*background-color: black;*/
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  text-align: center;
  font-size:15px;
  color : white;
  margin: 15 0 0 0;
  padding-top: 0px;
}
/* Back button is position on top left corner of head-bar. */
.back-button {
  position: absolute;
  background-color: black;
  border-color: white;
  border-radius: 4px;
  text-align: left;
  color: white;
  font-size: 20px;
  margin:  -55px 0 -30px -140px;

}

#filter {
	margin-top: 7px;
	margin-right: 5px;
	/*padding: 15px;*/
	float: right;
	/*text-indent: -10px;*/
}
.tab {
	position: relative;
	font-weight: bold;
	border-style: solid;
  	border-width: 1px;
	margin-left:1px;
	margin-right:1px;
	width: 296px;
    height:69px;
}

#study-list a{
	color: black;
} 
#time{
	font-size: 10px;
	float: right;
	margin-right: 2px;
}
#name {
	margin-top: 5px;
	font-size: 30px;
	margin-top: 15px;
}
#comp {
	float: right;
	margin-top: -40px;
	margin-right: 2px;
}

.menu-bar {
	text-align: center;
	margin-top: 80px;
	padding-bottom: 15;
}

.keyboard {
	width: 200;
	height: 100;
	border-style: solid;
	border-width: 2;
}

.menu-icon {
	text-align: center;
	margin: 15px;
	width:40px;
	height:30px;
}

#menu {
	padding: 15px;
	font-size: 2em;
	margin-top: -20px;
	text-indent: 10px;
}

#message {
	font-size: 2em;
	margin-top: 5px;
	text-indent: 60px;
}

#user {
	text-indent: 70px;
	font-size: 2em;
}


/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: -10px;
  margin: 3px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 40px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
  padding-top: 20px;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}




.message-input {
    background: none;
    border: none;
    outline: none!important;
    resize: none; 
    /* color: rgba(255, 255, 255, .8);*/
    font-size: 15px;
    height: 24px;
    margin: 0;
    padding-right: 20px;
    width: 265px;
    color: #444;
  }

  .message-submit {

    position: absolute;
    float: right;
    bottom: 20px;
    z-index: 1;
    top: 9px;
    right: 10px;
    color: #4A90E2;
    border: none;
   /* background: #c29d5f;*/
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none!important;
    transition: background .2s ease;
    cursor:pointer;
    &:hover {
      background: #fff;
      color: #333;
    }
  }


.message-box {
margin-top: 90px;
margin-left: 5px;
  flex: 0 1 42px;
  width: 90%;
  background: #fff; 
  /*margin:2px auto;*/
/*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
  /*background: rgba(0, 0, 0, 0.3);
    border-top:1px solid #e3e3e3;*/
  padding: 10px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; 
  height:14px;
  border:1px solid #ccc;
}