/* Global classes */
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	/*width: 300px;*/
	height: 45px;
	/*background-color: black;*/
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	text-align: center;
	font-size:15px;
	color : white;
	margin:1px;
/*	margin: 15 0 0 0;*/
/*	margin-top: 0px;
	margin-bottom: 0px;*/
}
/* Back button is position on top left corner of head-bar. */
.back-button {
	position: absolute;
	background-color: black;
	border-color: white;
	border-radius: 4px;
	text-align: left;
	color: white;
	font-size: 20px;
	margin-top: -50px;
    margin-left: -140px;
	

}

#filter {
	font-size: 30px;
    /*position:relative;*/
	padding: 15px;
	float: right;
	color: white;
	margin-top: -70px;
}
.tab {
	/*position: relative;*/
	font-weight: bold;
	border-style: solid;
  	border-width: 1px;
	/*margin-left:1px;*/
	/*margin-right:1px;*/
	/*width: 296px;*/
	margin: 2px;
    height:60px;
}

#study-list a{
	color: black;
} 
#time{
	font-size: 10px;
	float: right;
	margin-right: 2px;
}
#name {
	font-size: 30px;
	margin-top: 10px;
}
#comp {
	float: right;
	margin-top: -50px;
	margin-right: 2px;
}

.notify2 {
	position: absolute;
	width: 15px;
	height: 15px;
	margin-top: 10px;
	margin-left: 10px;
}

.menu-bar {
	/*border-top-style: solid;*/
	background-color: #CECECE;
	height: 50px;
	text-align: center;
	margin-top: 115px;
	margin-left:1px;
	margin-right:1px;

}

.menu-icon {
	text-align: center;
	margin: 15px;
	width:40px;
	height:30px;
}

/*#menu {
	padding: 15px;
	font-size: 2em;
	margin-top: -20px;
	text-indent: 10px;
}*/

#message {
	font-size: 2em;
	margin-top: 5px;
	text-indent: 60px;
}

#user {
	text-indent: 70px;
	font-size: 2em;
}

}
.albums-album-wrapper {
}

.albums-album-art {
}

.albums-album-name {
}

.albums-artist-name {
}
