body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {

	height: 45px;
	/*background-color: black;*/
	background-color: #a4508b;
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
	text-align: center;
	font-size:15px;
	color : white;
	margin:1px;
}


.notify2 {
	position: absolute;
	width: 15px;
	height: 15px;
	margin-top: 10px;
	margin-left: 10px;
}

.menu-bar {
	/*border-top-style: solid;*/
	background-color: #CECECE;
	height: 50px;
	text-align: center;
	margin-top: 88px;
	margin-left:1px;
	margin-right:1px;

}

.menu-icon {
	/*text-align: center;*/
	margin: 15;
	width:40px;
	height:30px;
}

.bottom-bar {
	position: relative;
	height: 45px;
	width: 298px;
	background-color: #e4d3f9;
	top: 37px;
	left: 1px;
	bottom: 4px;

}

.bottom-bar-wrapper {
    display: inline-flex;
    justify-content: space-between;
    width: 280px;
    padding-left: 12px;
    padding-top: 12px;
}

h1 {
	text-align: center;
}

.my-account {
	text-align: center;
	color: white;
	font-size: 25;
	margin-top: 20px;
}

.dashboard-buttons {
	width: 200px;
	height: 75px;
	border-style: solid;
	border-width: 3px;
	border-color: #D9F2E0;
	background-color: #71e192;
	text-align: relative;
	margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 55px;
}

.thank-you-text {
	text-align: center;
	color: black;
	font-size: 30;
	margin-top: 20px;
	margin-bottom: 10px;
}
.button-text {
	text-align: center;
	color: white;
	font-size: 25;
	margin-top: 15px;
	margin-bottom: 10px;
}

.info-text {
	text-align: left;
	color: black;
	font-size: 15;
    margin-top: 5px;
    margin-left: 1em;
	margin-bottom: 5px;
}

.menu-icons {
	width: 30px;
	height: 30px;
	padding-left: 133px;
	padding-top: 7px;

}
